.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #c471f5, #fa71cd);
  font-family: "Segoe UI", sans-serif;
}

.register-card {
  width: 400px;
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.register-card h2 {
  color: #a64bf4;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.input-group:hover {
  border-color: #a64bf4;
}

.input-group input,
.input-group select {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.icon {
  color: #a64bf4;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: #a64bf4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #7a2ed3;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: #a64bf4;
  font-weight: 600;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
